/* styles.css */
.dropzone {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.dropzone:hover {
    background-color: #f8f9fa;
}

.dropzone-content p {
    margin: 0;
    font-size: 16px;
}

.loading-container {
    text-align: center;
    margin-top: 20px;
}

.custom-accordion-header {
    background-color: #6c757d; /* Bootstrap gray color */
    color: white;
    border: 1px solid #6c757d; /* Match border color with background */
    cursor: pointer;
}

.custom-accordion-header:focus {
    box-shadow: none; /* Remove focus outline for a button-like look */
}

.custom-accordion-header:hover {
    background-color: #5a6268; /* Darker gray on hover */
}

.btn-space {
    margin-right: 10px; /* Space after a button */
}
